body {
    background-color: rgb(39, 36, 36);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.767);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2 {
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.767);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back{
    background : url(Images/Netflix.png);
}

table, td, th {
    border: 1px solid white;
}

.Tableau{
    margin: 10px;
}

table {
    background-color: rgb(48, 37, 37);
    border-style : solid;
    border-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.75;
    width: 40%;
    border-collapse: collapse;
    border-radius: 4px;
}

table {
	column-width : 25%;
	width : 50%;
}

th {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	width : 25%;
}

td {
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;
	width : 25%;
}

input{
    border: solid gray;
    border-radius: 4px;
}

.inscript {
    background-color: rgb(48, 37, 37);
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.75;
}

.noms {
    font-weight : bold;
    color : white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

legend {
    font-size: large;
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.resultats {
    text-align: center;
    font-size: 20px;
}

.ResImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Quiz_lcdp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Quiz_st {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Quiz_minion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

button {
    background-color: white; /* Green */
    border: none;
    color: rgb(39, 36, 36);
    padding: 5px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(39, 36, 36);
    color: white;
}